section.skills {
  > ul {
    margin-left: -5px;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
    > li {
      display: inline-flex;
      padding-left: 5px;
      padding-right: 5px;

      span.skill {
        padding: 10px;
        font-size: 15px;
        margin-bottom: 5px;
        line-height: 1;
        background-color: #23527c;
        color: #fff;
        text-align: center;
        vertical-align: baseline;
        border-radius: .25em;
      }
    }
  }
}
